/* Estilos generales */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo base para el bloque de resumen */
.info-block {
    background-color: #f9f9f9; /* Fondo claro por defecto */
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

/* Estilos de modo oscuro */
.dark-mode {
    background-color: #121212; /* Fondo oscuro para todo el cuerpo */
    color: #ffffff; /* Texto claro */
}

/* Fondo oscuro para el bloque de resumen en modo oscuro */
.dark-mode .info-block {
    background-color: #333333; /* Fondo gris oscuro */
}


/* Estilos para el modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


body.dark-mode a {
    color: #ffffff;
}

body.dark-mode .text-content {
    color: #dddddd;
}

/* Estilo base para el contenedor de contacto */
.container-contacto {
    background-color: #f9f9f9; /* Fondo claro por defecto */
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

/* Estilos de modo oscuro */
.dark-mode {
    background-color: #121212; /* Fondo oscuro para todo el cuerpo */
    color: #ffffff; /* Texto claro */
}

/* Fondo oscuro para el contenedor de contacto en modo oscuro */
.dark-mode .container-contacto {
    background-color: #333333; /* Fondo gris oscuro */
}

/* Estilo base para los bloques de información */
.info-block {
    background-color: #f9f9f9; /* Fondo claro por defecto */
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

/* Estilos de modo oscuro */
.dark-mode {
    background-color: #121212; /* Fondo oscuro para todo el cuerpo */
    color: #ffffff; /* Texto claro */
}

/* Fondo oscuro para los bloques de información en modo oscuro */
.dark-mode .info-block {
    background-color: #333333; /* Fondo gris oscuro */
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fb;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1;
}

/* Footer Styles */
footer {
    background-color: #1f4e79;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    margin-top: auto; 
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.footer-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #3a89c9;
}

/* Header Navigation */
#header {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f4e79;
    margin: 0;
}

#header li {
    margin: 0 15px;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
}

#header a:hover {
    background-color: #3a89c9;
    border-radius: 5px;
}

/* Main Content */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    flex-direction: column-reverse;
}

.containerServicios  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 20px;
    gap: 20px;
    flex-direction: column-reverse;
}

.text-content {
    flex: 1;
    min-width: 250px;
}

h1 {
    color: #1f4e79;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 50px;
}

p {
    line-height: 1.6;
    padding: 0 20px;
}

/* Image Styling */
img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f4e79;
}

.nombre-usuario {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
}

#header {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#header li {
    margin: 0 15px;
}

#header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s;
}

#header a:hover {
    background-color: #3a89c9;
    border-radius: 5px;
}
/* Responsive Design */
@media (max-width: 768px) {
    #header {
        flex-direction: column;
    }

    #header li {
        margin: 10px 0;
    }

    .container {
        flex-direction: column;
    }

    img {
        order: -1; 
        margin-bottom: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }

    .footer-icons {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .footer-icons {
        gap: 15px;
    }
}

#descripcionServicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.descripcion {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    
}

.descripcion h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.descripcion p {
    font-size: 16px;
    line-height: 1.5;
}

.info-block {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados dentro de los bloques */
.info-block h2 {
    font-size: 22px;
    margin-bottom: 10px;
    
}

/* Estilo para los párrafos dentro de los bloques */
.info-block p {
    font-size: 16px;
    line-height: 1.6;
    
}

/* Estilo base para el bloque de descripción de servicios */
.text-content {
    background-color: #f9f9f9; /* Fondo claro por defecto */
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
}

/* Estilos de modo oscuro */
.dark-mode {
    background-color: #121212; /* Fondo oscuro para todo el cuerpo */
    color: #ffffff; /* Texto claro */
}

/* Fondo oscuro para el bloque de servicios en modo oscuro */
.dark-mode .text-content {
    background-color: #333333; /* Fondo gris oscuro */
}



#resumenCv {
    margin: 40px 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#resumenCv h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

#resumenCv p {
    font-size: 16px;
    line-height: 1.6;
}

/* Estilo para el bloque de descarga de CV */
#cv {
    margin: 20px;
    text-align: center;
}

#cv a {
    text-decoration: none;
    background-color: #4a90e2;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#cv a:hover {
    background-color: #357ABD; /* Efecto hover para el botón de descarga */
}





.container-contacto {
    margin: 40px 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Formulario de consulta */
.consulta-form {
    margin-top: 20px;
}

.consulta-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.consulta-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.consulta-form input, .consulta-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.consulta-form button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.consulta-form button:hover {
    background-color: #357ABD;
}

